:root {
  --background: #e5dfdf;
  --selected_scene: #6ba8a9;
  --non_selected_scene: #357376;
  --character_line: #1d4d4f;
}

body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
  font-family: "ProximaNova",Helvetica,Arial,sans-serif;
}

.timeline {
  width: 99%;
  height: 400px;
  overflow-y: auto;
}

div #timeline {
  width: 99%;
  overflow: scroll;
}

text {
  font-size: 14px;
}

text .intro-text {
  color: var(--character_line);
  background-color: black;
}

text .intro-text-selected {
  color: var(--character_line);
}

.character-link {
  fill: var(--character_line)
}

div .scene-presentation {
  background-color: var(--character_line);
  color: var(--background);
  width: 300pt;
  padding: 30pt;
  position: absolute;
  bottom: 0;
  border-top-right-radius:30pt;
}

div .scene-date {
  font-style: italic;
  font-size: 18px;
  margin-bottom: 30pt;
  text-align: right;
}

div .scene-description {
  height: 100pt;
  overflow-y: auto;
}

div .case-selection {
  height: 100pt;
  width: 300pt;
  left: 360pt;
  padding: 30pt;
  position: absolute;
  bottom: 0;
}

.scene-selected rect {
  fill: var(--non_selected_scene);
  fill-opacity: 0.5;
}

.scene rect {
  fill: var(--selected_scene);
  fill-opacity: 0.5;
}
path {
  fill: none;
  stroke: var(--character_line);
}

path.light {
  stroke: #3c6da8;
}

path.dark {
  stroke: #df2929;
}

.intro text+text {
  fill: var(--character_line);
}

.intro text+text.dark {
  fill: #df2929;
}

.intro text+text.light {
  fill: #3c6da8;
}