body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#timeline {
  width: 99%;
  height: 400px;
}

text {
  font-family: "ProximaNova",Helvetica,Arial,sans-serif;
  font-size: 12px;
}

div .scene-date {
  font-weight: bold;
}

.scene-selected rect {
  fill: green;
  fill-opacity: 0.5;
  stroke: #000;
}

.scene rect {
  fill: red;
  fill-opacity: 0.5;
  stroke: #000;
}
path {
  fill: none;
  stroke-width: 1;
  stroke: #333;
}

path.light {
  stroke: #3c6da8;
}

path.dark {
  stroke: #df2929;
}

.intro text:first-child {
  fill: #fff;
  stroke: #f9f9f9;
  stroke-width: 3;
}

.intro text+text {
  fill: #333;
}

.intro text+text.dark {
  fill: #df2929;
}

.intro text+text.light {
  fill: #3c6da8;
}