:root {
  --selected_scene: #6ba8a9;
  --non_selected_scene: #357376;
  --path_link: #1d4d4f;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#timeline {
  width: 99%;
  height: 400px;
}

text {
  font-family: "ProximaNova",Helvetica,Arial,sans-serif;
  font-size: 12px;
}

text .intro-text {
  color: var(--path_link);
}

.character-link {
  fill: var(--path_link)
}

div .scene-date {
  font-weight: bold;
}

.scene-selected rect {
  fill: var(--non_selected_scene);
  fill-opacity: 0.5;
}

.scene rect {
  fill: var(--selected_scene);
  fill-opacity: 0.5;
}
path {
  fill: none;
  stroke: var(--path_link);
}

path.light {
  stroke: #3c6da8;
}

path.dark {
  stroke: #df2929;
}

.intro text:first-child {
  fill: #fff;
  stroke: #f9f9f9;
  stroke-width: 3;
}

.intro text+text {
  fill: var(--path_link);
}

.intro text+text.dark {
  fill: #df2929;
}

.intro text+text.light {
  fill: #3c6da8;
}